<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="myApp.properties"/>

    <bean id = "myPet"
          class="ioc_di.objects.Cat" >
    </bean>

<!--        vnedrenie zavisimostei with constructor help-->
<!--    <bean id = "myPerson"-->
<!--          class="objects.ioc_di.Person">-->
<!--        <constructor-arg ref="myPet"></constructor-arg>-->
<!--    </bean>-->

    <!--    vnedrenie zavisimostei with setter help-->
    <bean id = "myPerson"
          class="ioc_di.objects.Person">
        <!--    DI -->
        <property name="pet" ref="myPet"/>

        <property name="surname" value="${person.surname}"/>
        <property name="age" value="${person.age}"/>
    </bean>

</beans>